*{
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  overflow: hidden;
}
.row{
  overflow: hidden;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.row::after{
  content: "";
  clear: both;
  display: table;
  overflow: scroll;
}
[class*="col-"]{
  float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* topnav start */
.topnav{
  display: block;
  opacity: 1;
  color: white;
}
.topnav .menu li{
  display: block;
  float: left;
  padding: 10px;
  font-size: 18px;
  font-variant: normal;
  font-family: fantasy;
  transition: background-color 0.5s ease;
}
.menu .icon li{
  display: block;
  float: right;
  width: auto;
  padding: 0;
  font-size: 24px;
  font-variant: normal;
  font-family: fantasy;
  transition: background-color 0.5s ease;
}
.topnav .menu a{
  color: white;
  font-weight: 500;
}
.icon a{
  color: white;
}
.icon .fab{
  padding: 10px;
}
.icon .fab:hover{
  animation: top-icon 2s;
}
.menu li:hover{
  cursor: pointer;
  background-color: #48b2c5;
}
.topnav .active{
  border-bottom: solid 3px #48b2c5;
}
/* topnav end */

/* header start */
.direct-l{
  display: block;
  text-align: center;
  color: white;
  width: 400px;
  margin: auto;
  padding: 7px 16px;
  border: solid 2px white;
  border-radius: 15px;
  transition: all 0.25s ease;
}
.direct-l:hover{
  cursor: pointer;
  color: #000;
  background-color: rgba(246, 246, 246, 0.5);
  transform: scale(1.02);
}
.inner-addon {
    position: relative;
}
.check{
  color: black;
}
/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.direct-l a{
  text-decoration: none;
  color:inherit;
  font-style: normal;
}
.container-header{
  background-color: #000;
  width: 100%;
  height: 900px;
  max-height: 1500px;
}
span[class="gg"]
{
  font-size: 18px;
  font-family: sans-serif;
  color: white;
}
span[class="gg"] h1
{
  padding-top: 25%;
  text-align: center;
  margin-bottom: 20px;
}
span[class="title"] h1
{
  padding-left: 0;
  text-transform: uppercase;
  padding-top: 5%;
  padding-bottom: 3%;
  text-align: center;
}
.tembus-best
{
   opacity: 0.75;
}
.cobaparal{
  height: 500px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.paral-layer{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.paral-grup{
  position: relative;
  height: 500px;
  height: 100vh;
}
.paral-form{
  position: relative;
  height: 1300px;
  /* min-height: 100vh;
  height: calc(190vh + 50px);
  max-height: 240vh; */
}
.form-s-add{
  background-size: cover;
  height: auto;
  padding-bottom: 110px;
}
.form-auto-add{
  background-size: cover;
  height: auto;
  padding-bottom: 120px;
}
.form-n-add{
  height: calc(1300px + 95vh);
}
.form-l-add{
  height: calc(1300px + 105vh);
}
.size-kartu{
  max-width: 20rem;
  display: inline-block;
}
.paral-grup-menu{
  position: relative;
  height: 500px;
  height: 100vh;
  margin-bottom: 320px;
}
.header-foto{
  width: 100%;
  height: 900px;
  background-size: cover;
  background-image: url("../images/foto-head.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  /* transition: background-attachment 0.25 ease; */
}
.paral-back{
  transform: translateZ(-1px);
}
.paral-foer{
  transform: translateZ(0);
}
/* header end*/

/*z-index*/
.z-bback{
  z-index: -2;
}
.z-back{
  z-index: 0;
}
.z-fore{
  z-index:1;
}
.z-base{
  z-index: 2;
}
/*z-index*/

/*Form bagian start*/
.cover-form{
  background-color: #fff;
  width: auto;
  height: auto;
  background-size: cover;
  padding-bottom: 10px;
}
/*Form bagian end*/

/* Parallax base styles
  --------------------------------------------- */

  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    max-height: 300vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    -moz-perspective: 300px;
    perspective: 310px;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    max-height: 1000px;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .parallax__group_menu{
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 110vh;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .parallax__group_foot{
    position: relative;
    height: 150px; /* fallback for older browsers */
    height: 30vh;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer-top{
    position: absolute;
    left: 0;
    right: 0;
  }
  .parallax__layer-bottom{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--fore {
    -moz-transform:translateZ(90px) scale(.7);
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    -moz-transform:translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -moz-transform:translateZ(-300px) scale(2);
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {
    -moz-transform:translateZ(-600px) scale(3);
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }
  .parallax__layer--back-foot {
    -moz-transform:translateZ(0) scale(1);
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
    z-index: 1;
  }
  /* Parallax base styles
    --------------------------------------------- */

/*BG pilihan*/
.bg-biru1{
  background-color: #308446;
}
.bg-biru2{
  background-color: #06c6e1;
}
.bg-biru3{
  background-color: #2271b3;
}
.bg-ijo1{
  background-color: #b4d622;
}
.bg-abu2-1{
  background-color: #a5a5a5;
}
/*BG pilihan end*/

/*Font sction start*/
.font_ubuntu{
  font-family: 'Ubuntu', sans-serif;
}
/*Font sction end*/

/*bootstrapS change*/
.jumbotron{
  background-color: inherit;
}
.card-body{
  color: black;
}
.pmd-card-icon i{
  font-size: 45px;
}
.container-fluid{
  margin-left: 1rem;
}
.w-menu2 .card{
  transition: all .25s ease;
}
.w-menu2 .card:hover{
  cursor: pointer;
  transform: scale(1.02);
  border: white 3px solid;
}
/*bootstrap change*/


/* window menu start */
.w-menu1{
  display: block;
  height: 100vh;
  background-color: rgba(2,86,105, 1);
  /* padding-bottom: 100px; */
  color: white;
}
.w-menu2{
  display: block;
  height: 100vh;
  background-color: rgba(0,0,0,0.25);
  color: white;
  min-height: unset;
}
.w-menu2 .list1{
  width: auto;
  background-size: cover;
  height: auto;
  max-height: 1500px;
  /* background-color: rgba(0,0,0, 0.25); */
  padding-left: 15%;
  padding-right: auto;
}
/* .penengah-menu{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 17%;
}
.penengah-info{
  position: absolute;
  bottom: 14%;
  left: 0;
  right: 0;
  margin-left: 17%;
} */
.list1 li{
  border: solid 7px white;
  width: 150px;
  height: 150px;
  text-align: center;
  float: left;
  margin: 5px;
  display: block;
  padding: 2%;
  transition: all 0.25s ease;
}
.list1 li::before{
  padding: 0;
  content: "";
}
.list1 i{
  font-size: 30px;
  padding-bottom: 20px;
}
.list1 li:hover{
  cursor: pointer;
  transform: scale(1.05);
  background-color: #06c6e1;
}
.w-menu2 .info{
  background-size: cover;
  height: auto;
  max-height: 1500px;
  /* height: 230px; */
  padding-left: 10%;
  padding-right: 10%;
}
.info li{
  border: solid 7px white;
  width: 150px;
  height: 150px;
  text-align: center;
  float: left;
  margin-top: 5px;
  margin-left: 40%;
  display: block;
  padding: 2%;
  transition: all 0.25s ease;
}
.info i{
  font-size: 40px;
  padding-bottom: 20px;
}
.info li:hover{
  cursor: pointer;
  transform: scale(1.05);
  background-color: #f5d033;
}
span[class="w-isi"]{
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
}
span[class="w-isi1"]{
  font-size: 16px;
  font-weight: bolder;
  text-transform: uppercase;
}
/* window menu end */

/*footer start*/
.kaki .row .col-sm-4 i{
  color: white;
  font-size: 2rem;
}
#wrap{
  display: block;
}
.kaki{
  width: calc(100% - 17px);
  position: fixed;
  bottom: 0;
  display: block;
  color: white;
  height: 320px;
  /* background-color: rgba(150, 150, 150,1); */
  /* padding-top: 1.5%; */
}
.isi{
  padding: 5px 150px;
  text-align: center;
}
/*footer end*/

/*keyframes collection start*/
@-webkit-keyframes top-icon{
  0%{
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
  30%{
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  90%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/*keyframes collection end*/
@media (max-width: 400px) and (min-height: 520px){
    .kaki{
    position: absolute;
    width: 100%;
    height: 680px;
  }
  .isi{
    padding: 10px 0;
  }
  .size-kartu{
    max-width: 16rem;
    display: inline-block;
  }
  span[class="gg"] h1
  {
    padding-top: 50%;
  }
  .form-s-add{
    background-size: cover;
    height: auto;
    padding-bottom: 100px;
  }
  span[class="title"] h1
  {
    padding-top: 10%;
  }
  .direct-l{
    width: 300px;
    padding-left: 0;
    padding-right: 0;
  }
  .w-menu2 .list1{
    padding-left: 25%;
    horizontal-align: center;
  }
  .w-menu2 .info{
    padding-left: 25%;
  }
  .info li{
    margin-left: 0;
  }
  .w-menu1{
    height: 1550px;
  }
  .w-menu2{
    height: 1550px;
  }
  .paral-grup-menu{
    height: calc(140vh + 630px);
    margin-bottom: 340px;
  }
}
@media (max-width: 400px){
  .kaki{
    position: absolute;
    width: 100%;
    height: 710px;
  }
  .isi{
    padding: 10px 0;
  }
  .size-kartu{
    max-width: 16rem;
    display: inline-block;
  }
  span[class="gg"] h1
  {
    padding-top: 50%;
  }
  .form-s-add{
    background-size: cover;
    height: auto;
    padding-bottom: 100px;
  }
  span[class="title"] h1
  {
    padding-top: 10%;
  }
  .direct-l{
    width: 300px;
    padding-left: 0;
    padding-right: 0;
  }
  .w-menu2 .list1{
    padding-left: 25%;
    horizontal-align: center;
  }
  .w-menu2 .info{
    padding-left: 25%;
  }
  .info li{
    margin-left: 0;
  }
  .w-menu1{
    height: 1550px;
  }
  .w-menu2{
    height: 1550px;
  }
  .paral-grup-menu{
    height: calc(140vh + 630px);
    margin-bottom: 340px;
  }
}
@media (min-width: 610px) and (max-width: 740px){
  span[class="gg"] h1
  {
    padding-top: 15%;
  }
  .form-s-add{
    background-size: cover;
    height: auto;
    padding-bottom: 100px;
  }
   .w-menu1{
    height: 1550px;
  }
  .w-menu2{
    height: 1550px;
  }
  .paral-grup-menu{
    height: calc(140vh + 630px);
    margin-bottom: 340px;
  }
  .kaki{
    position: absolute;
    width: 100%;
    height: 680px;
  }
}
@media (min-width:410px) and (max-width:600px) and (max-height: 740px)
{
  .form-s-add{
    background-size: cover;
    height: auto;
    padding-bottom: 100px;
  }
  .size-kartu{
      max-width: 19rem;
      display: inline-block;
  }
  .paral-form{
    /* jangan lupa diisi kalau sudah ada isinya! */
  }
  span[class="gg"] h1
  {
    padding-top: 40%;
  }
  span[class="title"] h1
  {
    padding-top: 10%;
  }
  .direct-l{
    width: 300px;
    padding-left: 0;
    padding-right: 0;
  }
  .w-menu2 .list1{
    padding-left: 25%;
    horizontal-align: center;
  }
  .w-menu2 .info{
    padding-left: 25%;
  }
  .info li{
    margin-left: 0;
  }
  .w-menu1{
    height: 1450px;
  }
  .w-menu2{
    height: 1450px;
  }
  .parallax__group_menu{
    height: 175vh;
  }
  .paral-grup-menu{
    height: calc(140vh + 570px);
    margin-bottom: 300px;
  }

  .col-4{
    width: 100%;
  }
  .parallax__group_foot{
    height: 90vh;
  }
  .kaki{
    position: absolute;
    width: 100%;
    height: 680px;
  }
  .isi{
    padding: 20px 0;
  }
}
@media (min-width: 576px){
.jumbotron {
    padding: 2rem 1rem;
}
}
